/*

Contents
================================

1. Shared Styles
	a. Fonts
    b. Extends
2. Header Section
3. Entries
    a. Pagination
    b. Post Style
4. Footer
================================

*/


// 1. Shared Styles
// --------------------------------------------------

body{
    background-color: $black;
}

main.container, main.content > .container{
    width:50em;
}

// 1. a Font
// --------------------------------------------------


@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'), url(http://themes.googleusercontent.com/static/fonts/notoserif/v1/eCpfeMZI7q4jLksXVRWPQxsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}


// 1. b Extends
// --------------------------------------------------


.center-txt{
    text-align: center;
}


.a-hover{
        color: $grayDark;
        @include transition(0.3s linear);

        &:hover{
            color: $grayDark;
            text-decoration:none;
            @include opacity(50);
        }    
}

// 2. Header Section
// --------------------------------------------------

.content{
    background-color: $white;

    & > .container{
       min-height: 58em;  
    }
}

.content h1{
    font-family: Georgia, "Times New Roman", Times, serif;
     @extend .center-txt;
    font-size: 6em;  
    margin-top: 1em;
    border-bottom: 1px solid $grayDarker;
    padding-bottom: 0.6em;
    letter-spacing: 0.04em;
}

.top-strip{
    background-color: $black;
    height: 1em;    
}


// 3. Entries
// --------------------------------------------------

.entries{
     @extend .center-txt;
    list-style: none;
    font-family: 'Noto Serif';
    margin:2em 0 0;

    li{
        //border-bottom: 1px solid $grayLighter;
        margin-bottom: 3em;
        padding-top: 1.5em;
    }

    span{
        text-transform: uppercase;
        font-size: 0.9em;
        letter-spacing: 0.1em;
    }

    h3{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2em;
        margin-top: 0.2em;
        @extend .a-hover;
    }

    a{
        @extend .a-hover;
    }

    div{
        line-height: 1.7em;
        margin-top: 1.2em;
    }
}


// 3. a Pagination
// --------------------------------------------------

.pages{
     @extend .center-txt;
    list-style: none;    
}

.next{
    float: right;
    margin-top: -2em;
}

.prev{
    float: left;   
}

#post-pagination{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 3em;
}

// 3. b Post Style
// --------------------------------------------------

.home-icon{
     @extend .center-txt;
     font-size: 2.5em;
     margin: 1.5em 0 -1.1em;
     a{
        @extend .a-hover; 
     } 
}

.post{
    h5{
         @extend .center-txt;
        margin:5em 0 -6em 0;
        font-family: 'Noto Serif';
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 0.6em;
    }

    h2{
        font-family: Georgia, 'Times New Roman', Times, serif;
        @extend .center-txt;
        font-size: 5em;
        padding: 1.5em 0 0.5em;
        letter-spacing: 0.05em;
    }

    section{
        font-family: 'Noto Serif';
        line-height: 1.9em;
    }
}

// 4. Footer
// --------------------------------------------------

footer .container{
    @extend .center-txt;
    font-family: 'Noto Serif';
    color: $white;
    padding: 2em 0;
    font-size: 0.8em;
    a{
        color: $white;
        text-decoration: underline;
    }    
}